body {
    font-family: Arial, Helvetica, sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.title {
    font-size: 2.5em;
    margin-top: 0;
}

.main-header {
    background-color: #34495E;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.nav-link {
    color: white;
    margin-right: 4px;
}

.text-center {
    text-align: center;
}

.red-text {
    color: #F45B69;
}

.main-container {
    min-height: 100vh; /* Toda la pantalla */
}

.product img {
    width: 150px;
}

.product h3 {
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}