.main-header {
    background-color: #34495E;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.nav-link {
    color: white;
    margin-right: 4px;
}

.text-center {
    text-align: center;
}

.red-text {
    color: #F45B69;
}

.main-container {
    min-height: 100vh; /* Toda la pantalla */
}